<div class="contenitore_market_grouping">
    <div class="market_grouping_scommesse">
        <div class="market_grouping_scommesse_header">
            <div class="market_grouping_scommesse_header_info">
                <div class="market_grouping_scommesse_header_info_titolo">
                    <h1><img src="http://img.eurobet.it/adynit/images/Site_new/sport/icone_sport/flag/svezia.gif" width="16px" height="11px">&nbsp;Allsvenskan</h1>
                </div>
                <div class="market_grouping_scommesse_header_info_breadcrumbs"><a href="javascript:showSports(1);">Calcio</a>&nbsp;&gt;&nbsp;Allsvenskan</div>
            </div>
            <div class="market_grouping_scommesse_header_icon">
                <img src="http://img.eurobet.it/adynit/images/_newsite-14/images/box_container_scommesse_titolo_icon.png" width="21px" height="21px">
            </div>
        </div>
        <div class="market_grouping_scommesse_btn">
            <div onClick="showMeeting(1,66,63,14);" class="btn_active" id="betGroup14">Tutte</div>
        </div>
    </div>
    <div class="market_grouping_scommmesse_boxInterno" id="betListGroup14">
        <div class="market_grouping_scommmesse_boxInterno_tipologia_active" onClick="showMeeting(1,66,63,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">1X2 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,67,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Segna Goal 3 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,69,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Segna Goal 5 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,24742,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Doppia Chance Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,583,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Gg/Ng Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,330,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Ris Esatto Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,587,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">Pari/Dispari Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,80,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">U/O 2.5 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,81,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">U/O 3.5 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,214,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">U/O 4.5 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,215,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">U/O 5.5 Live</div>
        </div>
        <div class="market_grouping_scommmesse_boxInterno_tipologia" onClick="showMeeting(1,66,295,14);">
            <div class="market_grouping_scommmesse_boxInterno_tipologia_nome">U/O 6.5 Live</div>
        </div>
    </div>
</div>
<div class="box_container_pagina_scommesse">
    <div class="box_container_scommesse_titolo giorno">
        <h1>domenica 7 giugno, 2015</h1>
    </div>
</div>
<div class="box_contenitore_scommesse" style="display: block">
    <div class="box_container_scommesse_tipologia">
        <div class="box_container_scommesse_info">&nbsp;</div>
        <div class="box_container_scommesse_tipologia_spacer L3"></div>
        <div class="box_container_scommesse_tipologia_punteggio_betType_3">1</div>
        <div class="box_container_scommesse_tipologia_punteggio_betType_3">X</div>
        <div class="box_container_scommesse_tipologia_punteggio_betType_3">2</div>
    </div>
    <div class="box_container_scommesse_evento">
        <div class="box_container_scommesse_info">
            <h4>07/06</h4>
            <p>17:30 </p>
        </div>
        <div class="box_container_scommesse_nomeEvento L3">
            <a href="javascript:loadSingleEventPage(17764, 27975, 0)">
                Malmo Ff - Djurgarden
            </a>
        </div>
        <div class="box_container_scommesse_quote">
            <div class="box_container_scommesse_quoteType_3" onMouseUp="placeBet('15016','1','17764','1','0','1','10','63','Esito Finale 1X2 Live','27975','Malmo Ff - Djurgarden','0','1','1','2.40','240','1','20','0','66')" id="17764-27975-63-1">2.40</div>
            <div class="box_container_scommesse_quoteType_3" onMouseUp="placeBet('15016','1','17764','1','0','1','10','63','Esito Finale 1X2 Live','27975','Malmo Ff - Djurgarden','0','2','X','2.10','210','1','20','0','66')" id="17764-27975-63-2">2.10</div>
            <div class="box_container_scommesse_quoteType_3" onMouseUp="placeBet('15016','1','17764','1','0','1','10','63','Esito Finale 1X2 Live','27975','Malmo Ff - Djurgarden','0','3','2','4.55','455','1','20','0','66')" id="17764-27975-63-3">4.55</div>
        </div>
        <div class="box_container_scommesse_statistiche">
            <div class="num_scommesse">
                <a href="javascript:loadSingleEventPage(17764, 27975, 0)">+8</a>
            </div>
            <div class="box_container_scommesse_betradar">
                <a href="javascript:popUp('http://www.stats.betradar.com/s4/?clientid=161&matchid=6727258', 'console', 768, 1024);"  title="Statistiche">
                    <img src="http://img.eurobet.it/adynit/images/_newsite-14/images/box_container_scommesse_betradar_icon.png" width="16px" height="16px">
                </a>
            </div>
        </div>
    </div>
    <div class="box_container_scommesse_separatore"></div>
</div>
</div>